@use 'variables' as v;

footer {
	padding: 150px 15px 0 15px;
	background-color: #1e1e1e;
	color: white;
	
	.footer-contact {
		&::after {
			display: block;
			content: '';
			width: 100%;
			height: 1px;
			background-color: white;
			}
		
		.contact-container {
			margin-bottom: 100px;
			
			.contact-icon {
				width: 65px;
				
				svg {
					fill: #4a4a4a;
					}
				}
			
			.address-container {
				span {
					display: block;
					padding-top: 20px;
					line-height: 1;
					
					&.write-us {
						font-size: v.$p-large-fz;
						}
					
					&.address {
						font-size: 35px;
						font-weight: bold;
						}
					}
				}
			}
		}
	
	.author {
		padding-top: 5px;
		font-size: 1.5rem;
		}
	
	.footer-icons {
		display: flex;
		
		.footer-icon {
			width: 20px;
			height: 20px;
			margin: 5px;
			}
		
		svg {
			fill: #4a4a4a;
			}
		}
	}

@media(max-width: 960px) {
	
	footer {
		.footer-contact {
			.contact-container {
				display: flex;
				align-items: center;
				
				.address-container {
					margin-left: 50px;
					
					span {
						&.write-us {
							padding: 0;
							font-size: 20px;
							}
						
						&.address {
							font-size: 25px;
							}
						}
					}
				}
			}
		}
	}
