@use 'variables' as v;

html {
	font-size: 10px;
	}

.content-wrapper {
	padding: 140px 15px 0 15px;
	margin: auto;
	}

.container {
	max-width: 1600px;
	}

.heading-text-wrapper {
	cursor: default;
	
	.offset-1 {
		margin-left: 0;
		}
	}

section {
	padding: 100px 0 150px 0;
	
	&.heading {
		h1 {
			font-size: 6rem;
			letter-spacing: 4px;
			line-height: 1.1;
			}
		
		h2 {
			padding-top: 20px;
			font-size: v.$p-large-fz;
			}
		}
	
	&.about {
		h3,
		.about-text {
			font-size: v.$p-large-fz;
			}
		}
	
	&.offers {
		background-color: #f6f6f6;
		font-family: v.$main-font;
		
		.offer {
			margin-bottom: 30px;
			height: 250px;
			
			.img-wrapper {
				height: 100%;
				
				.offer-content {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					
					
					.offer-title,
					.offer-description {
						padding: 20px;
						width: 100%;
						font-size: v.$p-large-fz;
						height: 100%;
						}
					
					.offer-description {
						background-color: v.$main-color;
						color: white;
						}
					
					.offer-title {
						display: block;
						font-size: v.$title-large-fz;
						border: 1px solid v.$main-color;
						}
					}
				}
			}
		}
	
	.img-wrapper {
		position: relative;
		width: 100%;
		margin-bottom: 30px;
		
		&:hover .hover-active {
			opacity: 1;
			}
		
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			}
		}
	
	.hover-active {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: .3s;
		}
	}


.section-title {
	padding-right: 50px;
	font-size: v.$title-large-fz;
	}

@media(max-width: 1200px) {
	section {
		&.heading {
			h1 {
				font-size: 5rem;
				}
			}
		
		&.offers {
			.offer {
				height: 200px;
				
				.img-wrapper {
					.offer-content {
						.offer-title {
							font-size: 2rem;
							}
						
						.offer-description {
							font-size: 1.7rem;
							}
						}
					}
				}
			}
		}
	}

@media(max-width: 960px) {
	html {
		font-size: 8px;
		}
	section {
		padding: 50px 0 75px 0;
		
		p {
			text-align: justify;
			}
		}
	.section-title {
		text-align: center;
		padding: 20px 0;
		}
	}

@media (max-width: 541px) {
	section {
		&.heading {
			h1 {
				font-size: 4rem;
				}
			}
		}
	
	.footer-icons {
		padding: 0 !important;;
		}
	}
