@use 'variables' as v;

nav {
	position: fixed;
	width: 100vw;
	background-color: white;
	z-index: 2;
	
	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 100vw;
		height: 100px;
		font-family: v.$main-font;
		
		.logo {
			padding: 0 15px;
			font-size: 4rem;
			font-weight: bold;
			white-space: nowrap;
			}
		
		div {
			margin-right: 20px;
			
			.link {
				margin: 0 20px;
				color: v.$main-color;
				cursor: pointer;
				font-size: v.$p-large-fz;
				}
			}
		}
	}
